* {
	box-sizing: border-box;
}

body {
	background: var(--body-background-color);
	color: var(--black);
	font-family: var(--formosa-input-font-family);
	font-size: var(--font-size);
	margin: var(--nav-height) 0;
}

#header,
#footer {
	background: var(--black);
	color: var(--white);
	height: var(--nav-height);
	left: 0;
	position: fixed;
	right: 0;
	z-index: 9997;
}
