@custom-media --calendar-breakpoint (width >= 600px);
@custom-media --breakpoint (width >= 800px);
@custom-media --breakpoint-down (width < 800px);

/* var(--max-width) */
@custom-media --max-width (width >= 1200px);
