@import url('utilities/variables');
@import url('layout/typography');
@import url('layout/main');
@import url('layout/header');
@import url('layout/content');
@import url('layout/nav');
@import url('layout/footer');
@import url('components/add-another');
@import url('components/button');
@import url('components/calendar');
@import url('components/chart');
@import url('components/contain');
@import url('components/diary');
@import url('components/favourite');
@import url('components/food');
@import url('components/formosa-overrides');
@import url('components/heading');
@import url('components/hr');
@import url('components/icon');
@import url('components/link');
@import url('components/meal');
@import url('components/modal');
@import url('components/nutrition-facts');
@import url('components/pagination');
@import url('components/password');
@import url('components/radio');
@import url('components/search');
@import url('components/skip');
@import url('components/table');
@import url('components/verified');

.post-alert-button {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin-top: calc(var(--formosa-input-border-radius) * -1);
	padding-top: 0;
	text-align: right;
}
