#diary {
	fieldset {
		background: var(--lightest-yellow);
		border-color: var(--darkest-muted-yellow);
		border-style: solid;
		border-width: 1px;
		margin-top: var(--margin);
		padding: var(--fieldset-padding);

		.formosa-field {
			margin-top: 8px;
		}

		legend + .formosa-field {
			margin-top: 0;
		}
	}

	legend {
		font-weight: bold;
		padding: 0 4px;
	}

	#add-meal {
		padding-bottom: calc(var(--fieldset-padding) - var(--add-meal-button-margin));
	}

	@media (width >= var(--breakpoint)) {
		margin-top: calc(var(--margin) * -1);
	}
}

#diary-table {
	@media (width >= var(--breakpoint)) {
		.formosa-input-wrapper {
			margin-left: calc((var(--margin) - var(--table-cell-padding)) * -1);
			margin-right: calc((var(--margin) - var(--table-cell-padding)) * -1);
		}
	}
}

#extra-form {
	@media (width >= var(--breakpoint)) {
		min-width: 30%;
	}
}

#diary-top {
	#food-wrapper {
		border-bottom-right-radius: 0;
		border-right-width: 0;
		border-top-right-radius: 0;
		width: 100%;
	}

	@media (width >= var(--breakpoint)) {
		display: flex;

		.form {
			margin-left: calc(var(--margin) * .5);
			margin-right: calc(var(--margin) * .5);
		}

		& > :first-child {
			margin-left: 0;
			width: 100%;
		}

		& > :last-child {
			margin-right: 0;
		}
	}
}

.formosa-field.formosa-field--search_favourites {
	margin-top: 8px;
}

.formosa-field--weight,
.formosa-field--fake-weight {
	.formosa-suffix {
		font-size: var(--formosa-input-font-size);
		line-height: var(--formosa-input-height);
		padding-bottom: 0;
		padding-top: 0;
		position: absolute;
	}
}

#weight,
#fake-weight {
	padding-right: 40px;
	text-align: right;
}

.add-meal__button {
	margin-bottom: var(--add-meal-button-margin);
	margin-right: var(--add-meal-button-margin);
}

#previous,
#next {
	background: transparent;
	border-radius: 0;
	border-width: 0;
	height: var(--button-size);
	padding: 0;
	width: var(--button-size);

	path {
		fill: var(--white);
	}
}

#previous {
	margin-left: calc(var(--heading-inner-padding) * -1);
}

#previous + h1 {
	text-align: center;
}

#next {
	margin-right: calc(var(--heading-inner-padding) * -1);
	transform: rotate(180deg);

	&:disabled {
		visibility: hidden;
	}
}

.button--edit,
.button--remove {
	align-items: center;
	background: transparent;
	border-radius: 0;
	border-width: 0;
	display: flex;
	height: var(--button-size);
	justify-content: center;
	padding: 0;
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: var(--button-size);
	z-index: 1;
}

.button--remove {
	path {
		fill: var(--dark-red);
	}
}

.formosa-field--search-favourites {
	margin-top: 8px;
}
