#skip {
	--skip-width: 200px;

	background: var(--pink);
	border: 0;
	border-radius: 0;
	color: var(--black);
	font-size: 20px;
	font-weight: bold;
	height: var(--button-size);
	left: 50%;
	line-height: var(--button-size);
	margin-left: calc(var(--skip-width) * -.5);
	opacity: 0;
	padding: 0;
	position: absolute;
	text-align: center;
	text-decoration: none;
	top: calc(var(--button-size) * -1);
	width: var(--skip-width);
	z-index: 99999;

	&:active,
	&:focus {
		box-shadow: 0 0 10px 5px hsl(from var(--black) h s l / 20%), 0 0 0 var(--formosa-focus-border-width) var(--formosa-focus-box-shadow-color);
		opacity: 1;
		top: 0;
	}
}
